.login {
    background-color: #44444D;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 32px 98px 68px;
}

.login img {
    margin-bottom: 61px;
}

.login input {
    all: unset;
    box-sizing: border-box;
    background: #2E2E36;
    margin-bottom: 16px;
    padding: 18px 16px;
    min-width: 300px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.login input::placeholder {
    color: white;
}

.login p {
    margin-bottom: 60px;
    align-self: flex-start;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.login a {
    text-decoration: none;
    color: white;
}

.login button {
    all: unset;
    box-sizing: border-box;
    background-color: #DA0175;
    text-align: center;
    padding: 18px 133px;
    cursor: pointer;
}